/*ESTILO-GERAL*/
*{  /*Mudando a configuraçao padrão dos navegadores*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body{ /*Cor de fundo do site*/
    background-color: aliceblue;
    height: 100vh;

}


.interface{   /*Configuraçao amostragem div-interface*/
    max-width: 1280px;
    margin: 0 auto;
    
}

.flex{
    display: flex;

}

.bnt-cnt-contato button{ /*Configuraçao bnt-cnt-home*/
    padding: 10px 40px; 
    font-size: 18px;
    font-weight: 600;
    background-color: #e7760c;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

/*ESTILO PARA O CABEÇALHO*/

header{  /*Espaçamento do cabeçalho*/
    padding: 40px 4%;

}

header > .interface{ /*Configuraçao alinhamento entre os elementos menu-home*/

    display: flex;
    align-items: center;
    justify-content: space-between;

}

header a{ /*Configuraçao menu-home*/
    color: #000000;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
    
}

header a:hover{  /*Efeito Mouse menu-home*/
    color: #1522d6c4 ;
    transform: scale(1.20);


}

header div .logo-home img{ /*Configuraçao tamanho ico logo-home*/
    width: 100px;
    height: 100px;
}

header div .logo-home img:hover{
    transform: scale(1.0);

}
header nav ul{ /* Configuraçao lista desordenada menu-home*/
    list-style: none;

}

header nav ul li{ /*Configuraçao menu-home*/
    display: inline-block;
    padding: 0 40px;

}

button:hover,
form .btn-enviar input:hover { /* EFEITO ao Passar o mouse no bnt-cnt-home*/
    box-shadow: 0px 0px 8px #f0b103;
    transform: scale(1.05);
}


/*ESTILO TOPO SITE*/

section.topo-do-site{

    padding: 40px 4%;

}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.topo-do-site h1{
    color: #205a29;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #e7760c;

}

.topo-do-site .txt-topo-site p {
    color: #000000;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}